<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sample NodeJS App(1)</title>
    <link rel="stylesheet" href="public/resources/css/bootstrap.min.css" />
    <link rel="stylesheet" href="public/resources/css/app.css" />
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://app.shippable.com" target="_blank">Shippable</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="http://docs.shippable.com" target="_blank">docs</a></li>
            <li><a href="http://blog.shippable.com" target="_blank">blog</a></li>
            <li><a href="https://github.com/devops-recipes/deploy-ecs-basic" target="_blank">source code</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <main class="bs-docs-masthead" id="content" role="main" tabindex="-1">
      <div class="container">
        <img src="public/resources/images/captain.png" alt="aye-aye">
        <h2>Aye Aye, Captain!!!2.9</h2>
        <h3>You have successfully deployed the Docker Image of this NodeJS test app to <%= environment %> </h3>
        <div id="nameGreeting">Loading greeting...</div>

        <div class="name-form">
          <div class="row">
            <div class="col-lg-3 col-lg-offset-2">
              <input id="firstNameInput" class="form-control" placeholder="First Name">
            </div>
            <div class="col-lg-3">
              <input id="lastNameInput" class="form-control" placeholder="Last Name">
            </div>
            <div class="col-lg-2">
              <button id="nameUpdate" class="btn btn-default form-control" disabled>Update</button>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Bootstrap core JavaScript
   ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src="public/resources/js/bootstrap.min.js"></script>
    <script src="public/resources/js/api.js"></script>
  </body>
</html>
